<h1><%= @article.title %></h1>
<p><%= @article.body %></p> <br/>
<%= link_to "<< Back to articles List", articles_path %> <br />
<%= link_to "delete", article_path(@article), method: :delete,
data: {confirm: "Realy delete the article?"} %> <br/>
<%= link_to "edit", edit_article_path(@article)%>
